 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

}

h1,
h2 {
    font-family: 'poppins';
    font-weight: 700;
    line-height: 1;
}

h3,
h4,
h5,
h6 {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1;
    color: #000;
}

p {
    font-family: 'poppins';
    font-weight: 300;
    line-height: 1;
    color: rgb(165, 165, 165); 
}

section {
    padding: 2em 0;
}

/* Header */

.home h1 {
    color: #EEE;
    font-size: 2em;
    justify-content: center;
    text-align: center;
}

.home {
    background-image: radial-gradient(rgb(139, 195,245), #1294b8);
    height: 650px;
}


.d-flex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.7em;
}

nav .menu a {
    font-family: 'poppins';
    color: #EEE;
    text-decoration: none;
    padding: 1em;
}

.social {
    display: flex;
    list-style: none;   
}

.social a {
    color: #eee;
    display: flex; 
}

.social i {
    width: 35px;
    height: 35px;
    padding: .6em;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding-top: 2em;   
}

.title article {
    display: block;
    width: 30%;
    padding-right: 5%;   
}

.title h2{
    font-size: 3em;
}

.title p {
    font-family: 'poppins';
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #000;
}

.box {
    align-items: center;
    justify-content: center;
    background-color: #f6f9fa;
    border-radius: 50px;
}

.form-box {
    display: flex;
    padding: 5px 5px;
}

.form-box input {
    font-family: 'poppins';
    font-weight: 300;
    font-size: 2em;
    width: 70%;
    font-size: 12px;
    padding: 8px 12px ;
    border: none;
    outline: none;
    color: #000;
    background-color: #f6f9fa;
    border-radius: 50%;  
}

.form-box button {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 0.8em;
    width: 30%;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1294b8;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 40%;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 90%;
       
}

/* Section Products Features */

.features .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features article {
    width: 30%; 
}

.features article h2 {
    font-size: 2em;
    color: #000;
}

.features article p {
    padding-top: 1em;
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1em;
    color: rgb(165, 165, 165);
}

.card-category {
    width: 100%; 
}

.grid {
    display: flex;
    padding: 2em 0;
    justify-content: center; 
}

.grid__item {
    width: 25%;  
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
    margin: 1em;
    border-radius: 15px;
    background-image: radial-gradient(rgb(139, 195,245), #1294b8);
    height: 350px; 
    color: #fefefe;
}

.card i {
    font-size: 3em;
}


.card__title {
    font-size: 1.5em;
    padding: 1.5em 0 1em 0; 
    color: #fff;
}

.card p {
    font-size: 0.9em;
    color: #fff;
}

/* Section Teams */

.team .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team article {
    width: 35%;
}

.team h2 {
    font-size: 2em;
    color: #000;
}

.team article p{
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    padding: 1em 0;
}

.span-category {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1.8em;
    display: block;
}

.span-title {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1em;
    color: rgb(165, 165, 165);
}

.person-category {
    position: relative;
    text-align: center;
    display: flex;
    padding: 4em 0 1em 0;
    width: 80%;
}

.person-category img {
    width: 250px;
    border-radius: 50%;
    padding: 2em 0 .5em 0;
    -webkit-filter: grayscale(100%);
    filter: #000;
}

.person-category img:hover {
    -webkit-filter: none;
    cursor: pointer;
}
h4 {
    font-size: 1.3em;
    padding-bottom: .5em;
}

.overlay {
    display: block;
    position: absolute;  
}

.overlay a {
    
}



/* Section Parallax */

.parallax-effect {
    position: relative;
    z-index: 1;
    background-image: url(img/parallax.png);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.flex-col-centered {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.5);
}

.flex-col-centered button {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
}

.flex-col-centered button:hover {
   background-color: #fff;
   color: #000;
   cursor: pointer;
}

.start article {
    position: absolute;
    z-index: 2;
    height: 100%;
}

.start h2 {
    font-size: 2em;
    color: #fff;    
}

#parallaxText {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1.2em;
    padding: 1em 0 2em 0;
    color: rgb(165, 165, 165);
    width: 70%;
}

/* Blog */

.blog-category {
    display: flex;
    justify-content: center;   
}

.blog-image {
    width: 23%;
    margin: 1em;
    position: relative;
    overflow: hidden;
    z-index: 2; 
}

.img-blog{
    width: 400px;
    border-radius: 2%;   
}

.blog-category h3 {
    font-size: 1.3em;
    padding-top: 1em;
}

.blog-category p {
    font-size: 1em;
    width: 90%;
    padding: 1em 0 1em 0;
}

.blog-category a {
    text-decoration: none;
    font-size: 1.4em;
}

.blog-overlay {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2em 0 0 1em;
    position: absolute;
    background-color: none;
    z-index: 1;
    top: 0;
    width: 90%;
    height: 80%;
}

.blog-overlay:hover {
    background-color: rgba(0, 0, 0,.5);
    cursor: pointer;
}

.grid-overlay {
    display: flex;
    align-items: center;
    gap: 5px; 
}


.grid-overlay h5 {
    font-weight: 700;
    font-size: 1.1em;
    color: #fff;
   
}

.grid-overlay p {
    font-size: 1em;
    color: #fff;
}

.grid-overlay i {
    font-size: 1.1em;
    color: #fff;
}



/* Princing */

#pricing .container {
    width: 100%;
}

.pricing-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

.pricing article {
    width: 30%;
}

.pricing h2 {
   font-size: 1.2em; 
}

.pricing article p {
    padding: 2em 0 2em 0;
    font-size: 0.9em;
    font-weight: 300;
    width: 80%;
}

.pricing figure {
    width: 30%;
}

.pricing img {
    width: 450px;
}

.span-grid {
    display: block; 
    padding-bottom: 2em;  
}


.span-pricing {
    display: flex;
    gap: 100px;
    font-size: 1.5em;
    font-weight: 700;
}


.span-pricing2 {
    display: flex;
    gap: 65px;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(165, 165, 165);
}

.pricing article button {
    padding: 0.8em 2em;
    border-radius: 5px;
    border: none;
    background-color: rgb(63, 138, 236);
    color: #fff;
    cursor: pointer;
}

.pricing aside {
    background: #e9e9e9; 
    margin: 0 25em 0 25em;
}

.pricing .aside-title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing aside h3 {
    padding: .7em 0 1em 0;
    font-size: 1.8em;
    font-weight: 700;
}

footer {

}






