 /************************************************************************************ Body *****************************************************************************************/
 
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e9e9e9; 
}

.container {
    width: 100%;
    margin: auto;
}

h1,
h2 {
    font-family: 'poppins';
    font-weight: 700;
    line-height: 1;
    font-size: 2em;
    color: #000;
}

h3,
h4,
h5,
h6 {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1;
    color: #000;
}

p {
    font-family: 'poppins';
    font-weight: 300;
    line-height: 1;
    font-size: 1em;
    color: rgb(165, 165, 165); 
}

/*********************************************************************************** Header ******************************************************************************************/

/********* Home ************/
.home h1 {
    color: #EEE;
    font-size: 2em;
    justify-content: center;
    text-align: center;
}

.home {
    background-image: radial-gradient(rgb(139, 195,245), #1294b8);
    height: 650px;
}

/******** d-flex ********/
.d-flex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

/******** Nav **********/
nav {
    display: flex;
    justify-content: center;
}

nav .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}

nav .menu a {
    font-family: 'poppins';
    color: #EEE;
    text-decoration: none;
    padding: 1em;
}

/******** Social ********/
.social {
    display: flex;
    list-style: none;  
}

.social a {
    display: flex;
    text-decoration: none; 
}

.social i {
    width: 35px;
    height: 35px;
    padding: .6em;
    color: #eee;
}

/********* Title **********/
.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding-top: 2em;   
}

.title article {
    display: block;
    width: 30%;
    padding-right: 5%;   
}

.title h2{
    font-size: 3em;
}

.title p {
    font-family: 'poppins';
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #000;
}

/********* box **********/
.box {
    align-items: center;
    justify-content: center;
    background-color: #f6f9fa;
    border-radius: 50px;
}

.form-box {
    display: flex;
    padding: 5px 5px;
}

.form-box input {
    font-family: 'poppins';
    font-weight: 300;
    font-size: 2em;
    width: 70%;
    font-size: 12px;
    padding: 8px 12px ;
    border: none;
    outline: none;
    color: #000;
    background-color: #f6f9fa;
    border-radius: 50%;  
}

.form-box button {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 0.8em;
    width: 30%;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1294b8;
    align-items: center;
    justify-content: center;
}

/********** Hero **********/
.hero {
    width: 40%;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 90%;      
}

/******************************************************************************** Section Features ***********************************************************************************/

/********* features *********/
.featuresContent {
    background-color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

/********** Title **********/
.features article {
    width: 30%; 
}

.features article p {
    padding-top: 1em;
}

/********** Card-category ************/
.card-category {
    width: 100%; 
}

/********** Grid ***********/
.grid {
    display: flex;
    padding: 2em 0;
    justify-content: center; 
}

.grid__item {
    width: 25%;  
}

/********** Card **********/
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
    margin: 1em;
    border-radius: 15px;
    background-image: radial-gradient(rgb(139, 195,245), #1294b8);
    height: 350px; 
    color: #fefefe;
    border: 1px solid #000;
    box-shadow: 0 15px 7px rgba(0, 0, 0, .1);
}

.card:hover {
    transform: translateY(-20px);
}

.card i {
    font-size: 3em;
}

.card__title {
    font-size: 1.5em;
    padding: 1.5em 0 1em 0; 
    color: #fff;
}

.card .category {
    font-size: 0.9em;
    color: #fff;
}

/***************************************************************************** Section FAQ *******************************************************************************************/
#faq {
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

/********** faqText **********/
#faqText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#faqText h2 {
    font-size: 2em;
    text-align: center;
    padding: 0 25%;
}

#faqText p {
    padding: 0 25%;
    padding-top: 1em;
    text-align: center;
}

/********** faqContent **********/
#faqContent {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

/********** faqBloc  **********/
.faqBloc {
    display: flex;
    flex-direction: column;

    text-align: center ;
}

/* Elements textes au dessus de <figure><img>  */
#faqContent h3 { 
    font-size: 2em;
    font-weight: bold;
    padding-top: 2.5em;
}

#faqContent p {
    font-size:  1.2em;
    color: gray;
    font-weight:300;
    padding-bottom: 2em;
}

/* Elements textes en dessous de <figure><img>  */
#faqContent h4 {
    font-size: 1.5em;
    font-weight: 400 ;
    padding: 1em;
}

.faqDescription p {
    font-size: 1.1em;
    color: gray;
}

.faqBloc figure img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter: grayscale(100%);
    transform-origin: 50% 50%;
    transition: 0.3s;
    }

.faqImgConteneur {
    border-radius: 50%;
    overflow: hidden;
}

.faqOverlay {
    width:250px;
    height:250px;
    position: relative;
}

.faqSocials {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    bottom: 110px;
    left: 0px;

    transition: 0.3s;
}

.faqSocials a {
    width: 25px;
    height: 25px;
    margin: 10px 0;

    color: initial;
    border-radius: 50%;

    background-color: white;

    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.faqOverlay:hover img {
    filter: grayscale(0%);
    scale: 1.5;
    transition: 0.3s;
    transform: scale(0.8);
}

.faqOverlay:hover .faqSocials {
    opacity: 1;
    bottom: 60px;
    left: 25px;
    transition: 0.3s;
}

/****************************************************************************** Section About *************************************************************************************/

/******** Parallax *******/
.parallax-effect {
    position: relative;
    z-index: 1;
    background-image: url(img/parallax.png);
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/******** Flex-col-centered *********/
.flex-col-centered {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}

.flex-col-centered h2 {
    font-size: 2em;
    color: #fff;    
}

.flex-col-centered button {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    transition: all .5s ease;
}

.flex-col-centered button:hover {
    transform: translateY(-5px);
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/******** ParallaxText *******/
#parallaxText {
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    font-size: 1.2em;
    padding: 1em 0 2em 0;
    color: rgb(165, 165, 165);
    width: 70%;
}

/********************************************************************************** Section Client ***********************************************************************************/

/********* client *********/
.clientContent {
    width: 100%;
    padding-top: 2em;
}

/******* Title *********/
.client-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.client-title h2 {
    font-size: 2em;
}

.client-title p {
    width: 26%;
    padding-top: 1em;
}

/******* Client-Image ********/
.client-image {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5em 0 5em 0;
    width: 100%;
    gap: 20px;
}

.client figure {
    width: 10%;
}

.client figure img{
    width: 100px;  
}
/******************************************************************************* Section Princing ************************************************************************************/

/******* Pricing ********/
.pricingContent {
    justify-content: center;
    width: 100%;
    background-color: #FFF;
    padding-top: 2em;
}

/******** Pricing-Category *********/
.pricing-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}   

/******** Pricing-Title *********/
.pricing-title {
    width: 25%;
}

.pricing-title h2 {
    font-size: 1.2em; 
}

.pricing-title p {
    padding: 2em 0 2em 0;
    font-size: 0.9em;
    font-weight: 300;
    width: 80%;
}

/******** Span-grid ********/
.span-grid {
    display: block; 
    padding-bottom: 2em;  
}

/******** Span-pricing *******/
.span-pricing {
    display: flex;
    gap: 100px;
    font-size: 1.5em;
    font-weight: 700;
}

.span-pricing2 {
    display: flex;
    gap: 65px;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(165, 165, 165);
}

/******* PricingBtn *********/
.pricingBtn {
    padding: 0.8em 2em;
    border-radius: 5px;
    border: none;
    background-color: rgb(63, 138, 236);
    color: #fff;
    cursor: pointer;
}

/******* Pricing-Image *********/ 
.pricing-image {
    width: 25%;
}

.pricing-image img {
    width: 100%;
}

/******** Aside *******/
.aside {
    padding-top: 2em;
    justify-content: center; 
    font-family: 'poppins';   
}

.aside-category {
    width: 100%;
    height: 650px; 
    background: #e9e9e9; 
    justify-content: center;
}

/******* Aside-Title ********/
.aside-title {
    padding-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aside-title h3 {
    font-size: 1.8em;
    font-weight: 700;
}

.aside-title p {
    padding: 1% 35%;
}

/******** Columns **********/
.columns {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 4em;
}

.columns dl {
    padding: 1.5em 0;
    width: 25%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 15px 7px rgba(0, 0, 0, .1);
    height: 400px;
    position: relative;
}

.columns dt {
    font-weight: 300;
    line-height: 1; 
    padding: .7em 1em;
}

/******** Header ********/
.columns .header {
    font-weight: 700;
    text-align: center;
    font-size: .9em;
}

.header-style {
    transform: translateY(-30px);
}

.header-float {
    font-size: 1.1em;
    background-color: rgb(47, 116, 206);
    border-bottom-left-radius: 25%;
    border-top-right-radius: 10px;
    color: #FFF;
    width: 17%;
    text-align: center; 
    position: absolute;
    padding: .2em .1em;
    right:0;
    top: 0;
}

/******* Price-list *******/
.price-list {
    text-align: center;
    padding: .5em 0;
    font-weight: 500;
    
}

.price-list span {
    color: rgb(63, 138, 236);
    font-size: 2.5em;
    font-weight: 500; 
}

/******* Icône Fa-Regular *******/
.fa-circle-check {
    color: green;
}

.fa-circle-xmark {
    color: rgb(158, 0, 0);
}

/******** Pricing-Btn **********/
.pricing-btn {
    margin: .8em 0;
    text-align: center;
}

.pricing-btn button {
    background-color: rgb(63, 138, 236);
    border: rgb(63, 138, 236);
    width: 90%;
    padding: .7em 0; 
    border-radius: 7px; 
    cursor: pointer;
} 
 
.pricing-btn .Btn {
    color: #FFF;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 300;
    line-height: 1;   
}

/*********************************************************************************** Section Blog ********************************************************************************************/

/********** Blog **********/
#blog {
    background-color: #FFF;
    padding: 2em 0 3em 0;
}

.blogContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******** Blog header ********/
.blog-header p {
    padding-top: 1em;
}

.blog-header {
    width: 30%;
    padding-bottom: 3em;
}

/******** Blog-Category*********/
.blog-category {
    width: 100%;
    display: flex;
    justify-content: center;  
}

/******** Blog-Image **********/
.blog-image {
    width: 25%;
    margin: 1em;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    z-index: 1; 
}

.img-blog{
    width: 100%;
    height: 100%;
    border-radius: 2%;    
}

/******** Blog-Title *********/
.blog-title {
    font-size: 1.2em;
    padding-top: 1em;
    text-align: justify;
}

.blog-title p {
    font-size: .8em;
    padding: 1em 0 1em 0;
}

.blog-title a {
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'poppins';
    font-weight: 500;
    line-height: 1; 
    color: rgb(14, 83, 173);
}

/******** Blog-Overlay ********/
.blog-overlay {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2em 0 0 3em;
    position: absolute;
    z-index: 2;
    top: -30%;
    width: 100%;
    height: 73%;
    border-radius: 2%;
}

.blog-overlay:hover {
    top: 0;
    background-color: rgba(0, 0, 0,.3);
    transition: all .5 ease;
    cursor: pointer;
}

/******** Grid-Overlay *******/
.grid-overlay {
    display: flex;
    align-items: center;
    padding: .5em 0; 
    gap: 20px;
}   

.grid-overlay h5 {
    font-weight: 700;
    font-size: 1.1em;
    color: #fff;  
}

.grid-overlay p {
    font-size: 1em;
    color: #fff;
}

.grid-overlay i {
    font-size: 1.1em;
    color: #fff;
}   

/****************************************************************************** Section Contact **************************************************************************************/

/********** Footer ***********/
footer .container {
    display: block;
    justify-content: center;
    background-color: #000;
    width: 100%;
    padding: 3em 0;
    font-family: 'poppins';
    font-weight: 300;
    line-height: 1;
}

/******** Footer-Social *******/
.footer-social {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.footer-social i {
    font-size: 1.2em;
    color: rgb(165, 165, 165);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 50%;
    padding: .5em .6em;
    width: 40px;
    height: 40px; 
}

/******** Footer-Category **********/
.footer-category  {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding-top: 1em;   
}

.footer-li {
    border-right: 1px solid rgb(165, 165, 165) ; 
}

.footer-category a {
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: .9em;
    padding: 0 2em 0 2em;  
}

/********* Footer-Small ***********/
.footer-small {
    width: 100%;
    color: rgb(165, 165, 165);
    padding-top: 1em; 
    font-size: .9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/********************************************************************************* Scroll Top *****************************************************************************************/

#scrollTopBtn {
    padding: 10px 14px;
    font-size: 1em;
    background-color: rgb(78, 78, 78);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
}

@media only screen and (max-width:500px) {
    .span-pricing {
        display: block;
       
    }
}

@media only screen and (min-width:501px) and (max-width:1024px) {

    .home {
        height: 450px;
    }

    .title article { 
        width: 35%;     
    }

    .title h2{
        font-size: 2em;
    }

    /********* Section Features **********/
    .features article {
        width: 50%; 
    }

    .card-category {
        justify-content: center;
        width: 100%;
    }

    .grid {
        display: block;  
    }

    .grid__item {
        width: 100%;
        padding: 1% 25%;
    }

    /******** Section Faq **********/
    #faq {
        padding: 4% 10%;
    }
    
    #faqText h2, #faqText p{
        padding: 1% 5%;
    }

    #faqContent {
        display: block;

    }

    .faqBloc {
        padding: 0 35%;
    }
    
    /********* Section Client ********/
    .client-title p {
        width: 70%;
    }

    /******* Section Pricing ******/
    .pricing-title {
        width: 40%;
    }

    .pricing-image {
        width: 40%;
    }

    .aside-title p {
        padding: 1% 25%;
    }

    .aside-category {
        width: 100%;
        height: 1450px; 
    }

    .columns {
        display: block;
        justify-content: center;
        height: 1500px;
        padding: 0 30%;
    }

    .columns dl {
        width: 100%;
        margin: 2em 0;
    }

    .header-style {
        transform: none;
    }

    /******* Section Blog ********/
    .blog-header {
        width: 50%;
    }

    .blog-category {
        display: block;
        padding: 0 25%;

    }

    .blog-image {
        width: 100%;
        padding: 1em 0;
    }
}